@charset "UTF-8";
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
/* Colors */
/* Sizes */
/* Media Query Breakpoint */
/* Header Arrow Effect */
/* Typography */
h1, h2, h3 {
  font-family: Bitter, serif;
}

h1 {
  color: #333;
  font-size: 190%;
}

h2 {
  color: #707070;
}

ul {
  list-style: none;
  margin-left: -1.1em;
}

li {
  margin-bottom: 10px;
  position: relative;
}
li:before {
  content: '✓';
  position: absolute;
  left: -20px;
}

a {
  color: #db4747;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover, a:focus {
  color: #c82727;
}

.clearfix, header, .info {
  display: table;
  content: '';
  clear: both;
}

/* Box Model */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #CAE5E7;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.resume {
  position: relative;
  background: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 58em) {
  .resume {
    width: 96%;
  }
}

header {
  position: relative;
  background: #26292b;
  width: 100%;
  overflow: hidden;
  height: 90px;
  text-shadow: 1px 2px 3px #304a63;
}
header h1 {
  position: relative;
  font-family: 'Bitter', serif;
  font-size: 250%;
  background: #28627d;
  color: white;
  margin: 0;
  height: 90px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 30px;
  float: left;
  z-index: 2;
}
@media (max-width: 75em) {
  header h1 {
    width: 100%;
    padding-right: 5px;
  }
}
@media (max-width: 36em) {
  header h1 span {
    display: none;
  }
}
header h1:after {
  position: absolute;
  content: '';
  height: 100%;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #28627d;
  right: -20px;
  top: 0;
}
header div {
  position: relative;
  color: white;
  float: left;
  padding-top: 24px;
  padding-left: 60px;
  padding-right: 48px;
  height: 90px;
}
@media (max-width: 75em) {
  header div {
    width: 50%;
  }
}
@media (max-width: 36em) {
  header div {
    width: 100%;
    padding-left: 30px;
  }
}
header div:first-of-type {
  background: #2e779c;
  z-index: 1;
}
header div:first-of-type:after {
  position: absolute;
  content: '';
  height: 100%;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #2e779c;
  right: -20px;
  top: 0;
}
@media (max-width: 75em) {
  header div:first-of-type {
    padding-left: 30px;
  }
}
header a {
  color: white;
  padding: 0 3px;
  border-radius: 2px;
  text-decoration: none;
}
header a:hover, header a:focus {
  color: white;
  background: #00baa6;
}

.info {
  width: 100%;
}

section {
  float: left;
  width: 70%;
  padding: 0 30px;
}
section article {
  margin-bottom: 30px;
}
section h2 {
  font-size: 100%;
  text-transform: uppercase;
  margin-bottom: 0;
}
section h2 span {
  text-transform: none;
}
section p {
  line-height: 1.5;
}
section .education p {
  margin-top: 3px;
}
@media (max-width: 58em) {
  section {
    width: 100%;
  }
}

.work .block {
  margin-bottom: 30px;
}

aside {
  float: left;
  background: whitesmoke;
  border-left: 1px solid #ccc;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
}
aside article {
  margin-bottom: 50px;
}
aside h1 {
  font-size: 150%;
  margin-top: 29px;
}
aside a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed gainsboro;
}
aside a:hover, aside a:focus {
  background: #e8e8e8;
}
@media (max-width: 58em) {
  aside {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
  }
}
/** Read more btn **/
.btn {
  display: inline-block;
  background-color: #fffefe;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  margin: 1.5em 0;
  border: 2px solid black;
  font-size: 1.2em;
}
.btn:hover {
  background-color: rgb(60, 168, 182);
  color: black;
}