.header h2, body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header .header__contact .header__contact-label, .btn, h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", serif;
  font-weight: 400;
}

body {
  height: 245mm;
  width: 200mm;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  color: #000000;
  font-size: 14px;
  background-color: #EBEBEB;
}

.full-resume {
  padding: 2em 2.5em 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
a:hover {
  color: #5BC0BE;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  margin: 1.5em 0;
  border: 2px solid black;
  font-size: 1.2em;
}
.btn:hover {
  background-color: white;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 3px solid #000000;
}
.header .header__name {
  flex: 0 0 auto;
  padding-bottom: 1em;
}
.header .header__name h1 {
  color: #000000;
}
.header h1, .header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.header h2 {
  font-weight: 300;
  font-size: 1.25em;
}
.header .header__contact {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__contact .header__contact-field {
  flex: 0 0 auto;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.header .header__contact .header__contact-label {
  display: inline;
  text-transform: uppercase;
}
.header .header__contact .header__contact-field {
  display: block;
}

.resume-body {
  display: flex;
  justify-content: space-between;
}
.resume-body .resume-body__left {
  flex: 0 0 auto;
  width: 70%;
}
.resume-body .resume-body__right {
  flex: 0 0 auto;
  width: 25%;
}
.experience-list {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #000000;
}
.experience-list:last-of-type {
  border-bottom: 0;
}
.experience-list h2 {
  margin-bottom: 0;
}
.experience-list .experience {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1em;
}
.experience-list .experience:last-of-type {
  border-bottom: 0;
}
.experience-list .experience__title {
  display: flex;
  align-items: stretch;
  line-height: 1em;
}
.experience-list .experience__title h3 {
  flex: 0 0 auto;
  display: block;
  vertical-align: bottom;
  height: 16px;
  margin-bottom: 0;
  margin-right: 1em;
}
.experience-list .experience__title h5 {
  flex: 0 0 auto;
  display: block;
  vertical-align: bottom;
  height: 16px;
  margin-bottom: 0;
  line-height: 1em;
  font-style: italic;
}
.experience-list .experience__title h5 a {
  font-style: inherit;
}
.experience-list .experience__date {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}
.experience-list .experience__info {
  margin: 0;
}

.skill-breakdown__field {
  display: flex;
  justify-content: flex-sart;
}
.skill-breakdown__field .skill-breakdown__label {
  flex: 0 0 auto;
  display: block;
  width: 40px;
}
.skill-breakdown__field .skill-breakdown__value {
  flex: 0 1 auto;
  display: block;
  width: 100%;
  color: red;
  height: 1em;
}
.skill-breakdown__field .skill-breakdown__value .value {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-100 {
  width: 100%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-91 {
  width: 91%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-75 {
  width: 75%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-60 {
  width: 60%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-50 {
  width: 50%;
}

.social {
  margin-bottom: 1.5em;
}
.social .fa {
  width: 25px;
}

.awards h3 {
  margin-bottom: 0;
}
.awards span {
  display: block;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}
.awards a {
  margin-top: 0;
  font-size: 0.9em;
}

.resume-note {
  font-size: 0.9em;
  color: #666666;
}

.portfolio .social__group,
.portfolio h2 {
  display: none;
}
.resume-print {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #000000;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  font-size: 3em;
  color: white;
  cursor: hand;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.resume-print:hover {
  color: white;
}
.resume-print:active, .resume-print:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.resume-print .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media print {
  body {
    width: 180mm;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
  }

  .full-resume {
    padding: 0;
    margin-bottom: 0;
    box-shadow: none;
    background-color: white;
  }

  .page-wrap .top-boxes,
.page-wrap .resizer {
    display: none;
  }

  .portfolio .social__group,
.portfolio h2 {
    display: block;
  }
  .portfolio a {
    font-size: 12px;
  }
  .portfolio .btn {
    display: none;
  }

  .skill-breakdown__value {
    -webkit-print-color-adjust: exact;
  }

  .resume-print {
    display: none;
  }
}