 .u-section-1 {
  background-image: url("images/folded_white_paper_by_rapidyak_d26iz8m-fullview.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  background-image: url("images/80310588_10218929766388735_6292413562958643200_n1.jpg");
  background-position: 50% 50%;
  margin: 27px auto 0 12px;
}

.u-section-1 .u-text-1 {
  margin: 6px 967px 0 0;
}

.u-section-1 .u-list-1 {
  width: 608px;
  margin: -448px 302px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 62px;
  grid-template-columns: calc(25% - 8.25px) calc(25% - 8.25px) calc(25% - 8.25px) calc(25% - 8.25px);
  grid-gap: 11px 11px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-line-1 {
  width: 599px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 4px 307px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 21px 12px 0 410px;
}

.u-section-1 .u-image-2 {
  width: 658px;
  height: 540px;
  margin: -190px 2px 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 104px;
  min-width: 54px;
  white-space: nowrap;
  margin: -411px auto 60px 57px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-right: 787px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -447px;
    margin-right: 104px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -3px;
    margin-right: 104px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 0;
    margin-left: 380px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -85px;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -508px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 137, 203) !important;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 587px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -530px;
    margin-right: 61px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 488px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -162px;
    margin-left: 114px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -834px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -695px;
    margin-right: -159px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 248px;
    grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 536px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 104px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -26px;
    margin-left: 13px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1208px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 187px;
  }

  .u-section-1 .u-list-1 {
    margin-right: -383px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 255px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-line-1 {
    margin-top: 574px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49px;
  }

  .u-section-1 .u-image-2 {
    height: 443px;
    margin-top: -103px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1061px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2045px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: -663px;
    margin-right: -513px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 542px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1333px;
    margin-left: 37px;
  }
} .u-section-2 {
  background-image: url("images/folded_white_paper_by_rapidyak_d26iz8m-fullview.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 854px;
}

.u-section-2 .u-text-1 {
  margin: 1px 1px 0 36px;
}

.u-section-2 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 41px;
  min-width: 16px;
  white-space: nowrap;
  margin: -569px 227px 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-social-icons-2 {
  height: 41px;
  min-height: 16px;
  width: 41px;
  min-width: 16px;
  white-space: nowrap;
  margin: 185px 227px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-social-icons-3 {
  height: 41px;
  min-height: 16px;
  width: 41px;
  min-width: 16px;
  white-space: nowrap;
  margin: 194px 225px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: -238px auto 0 116px;
}

.u-section-2 .u-line-2 {
  width: 1056px;
  height: 3px;
  margin: 15px auto 0 116px;
}

.u-section-2 .u-line-3 {
  width: 1056px;
  height: 3px;
  margin: -246px 118px 0 auto;
}

.u-section-2 .u-line-4 {
  width: 1056px;
  height: 3px;
  margin: 222px 118px 0 auto;
}

.u-section-2 .u-line-5 {
  width: 1056px;
  height: 3px;
  transform-origin: center top 0px;
  margin: 233px 115px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -630px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 197px;
    margin-right: 220px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 222px;
    margin-right: 217px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -237px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    position: absolute;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    transform-origin: center top 0px;
    width: 0;
    margin-top: -288px;
    margin-right: auto;
    margin-left: 115px;
  }

  .u-section-2 .u-line-4 {
    transform-origin: center top 0px;
    width: 0;
    margin-top: 267px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-line-5 {
    width: 0;
    margin: 266px auto 7px 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    margin-top: -627px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 205px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 225px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -231px;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
  }

  .u-section-2 .u-line-3 {
    margin-top: -247px;
    margin-left: 0;
  }

  .u-section-2 .u-line-4 {
    margin-top: 185px;
    margin-left: 15px;
  }

  .u-section-2 .u-line-5 {
    margin-top: 263px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -730px;
    margin-right: 180px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 272px;
    margin-right: 174px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 262px;
    margin-right: 174px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-line-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -1073px;
    margin-right: auto;
    margin-left: 197px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 269px;
    margin-right: auto;
    margin-left: 197px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 340px;
    margin-right: auto;
    margin-left: 197px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -1546px;
    margin-left: auto;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 380px;
    margin-left: auto;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 534px;
    margin-right: 139px;
    margin-left: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 206px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/folded_white_paper_by_rapidyak_d26iz8m-fullview.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 869px;
}

.u-section-3 .u-image-1 {
  width: 427px;
  height: 334px;
  margin: -58px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: -68px 28px 0;
}

.u-section-3 .u-image-2 {
  width: 263px;
  height: 351px;
  margin: -910px 33px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -970px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -59px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -45px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -1063px;
    margin-right: -27px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 14px;
    margin-left: -63px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -1274px;
    margin-right: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1722px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 266px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 365px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -1442px;
    margin-right: auto;
    margin-left: 27px;
  }
} .u-section-4 {
  background-image: url("images/folded_white_paper_by_rapidyak_d26iz8m-fullview.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1428px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: -325px auto 0 198px;
}

.u-section-4 .u-image-1 {
  width: 358px;
  height: 253px;
  margin: 279px 441px 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px -29px 0 0;
}

.u-section-4 .u-image-2 {
  width: 389px;
  height: 304px;
  margin: -548px 441px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.2;
  margin: -323px 0 0;
}

.u-section-4 .u-line-2 {
  height: 1px;
  transform-origin: center top 0px;
  width: 0;
  margin: -117px auto 60px 130px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-line-1 {
    margin-left: 18px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 294px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 247px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -266px;
  }

  .u-section-4 .u-line-2 {
    height: 3px;
    margin-top: -99px;
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1404px;
  }

  .u-section-4 .u-line-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 288px;
    margin-left: 264px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 295px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-4 .u-line-2 {
    margin-top: -172px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -508px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -403px;
  }

  .u-section-4 .u-line-2 {
    margin-top: -194px;
    margin-left: -27px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1738px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 240px;
  }

  .u-section-4 .u-image-2 {
    height: 216px;
    margin-top: -368px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -460px;
  }

  .u-section-4 .u-line-2 {
    margin-top: -287px;
    margin-left: -50px;
  }
}