.header h2, body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header .header__contact .header__contact-label, .btn, h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", serif;
  font-weight: 400;
}

body {
  height: 245mm;
  width: 200mm;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  color: #000000;
  font-size: 14px;
  background-color: #EBEBEB;
}

.full-resume {
  padding: 2em 2.5em 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
a:hover {
  color: #5BC0BE;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  margin: 1.5em 0;
  border: 2px solid black;
  font-size: 1.2em;
}
.btn:hover {
  background-color: white;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 3px solid #000000;
}
.header .header__name {
  flex: 0 0 auto;
  padding-bottom: 1em;
}
.header .header__name h1 {
  color: #000000;
}
.header h1, .header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.header h2 {
  font-weight: 300;
  font-size: 1.25em;
}
.header .header__contact {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__contact .header__contact-field {
  flex: 0 0 auto;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.header .header__contact .header__contact-label {
  display: inline;
  text-transform: uppercase;
}
.header .header__contact .header__contact-field {
  display: block;
}

.resume-body {
  display: flex;
  justify-content: space-between;
}
.resume-body .resume-body__left {
  flex: 0 0 auto;
  width: 70%;
}
.resume-body .resume-body__right {
  flex: 0 0 auto;
  width: 25%;
}
.experience-list {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #000000;
}
.experience-list:last-of-type {
  border-bottom: 0;
}
.experience-list h2 {
  margin-bottom: 0;
}
.experience-list .experience {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 1em;
}
.experience-list .experience:last-of-type {
  border-bottom: 0;
}
.experience-list .experience__title {
  display: flex;
  align-items: stretch;
  line-height: 1em;
}
.experience-list .experience__title h3 {
  flex: 0 0 auto;
  display: block;
  vertical-align: bottom;
  height: 16px;
  margin-bottom: 0;
  margin-right: 1em;
}
.experience-list .experience__title h5 {
  flex: 0 0 auto;
  display: block;
  vertical-align: bottom;
  height: 16px;
  margin-bottom: 0;
  line-height: 1em;
  font-style: italic;
}
.experience-list .experience__title h5 a {
  font-style: inherit;
}
.experience-list .experience__date {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}
.experience-list .experience__info {
  margin: 0;
}

.skill-breakdown__field {
  display: flex;
  justify-content: flex-sart;
}
.skill-breakdown__field .skill-breakdown__label {
  flex: 0 0 auto;
  display: block;
  width: 40px;
}
.skill-breakdown__field .skill-breakdown__value {
  flex: 0 1 auto;
  display: block;
  width: 100%;
  color: red;
  height: 1em;
}
.skill-breakdown__field .skill-breakdown__value .value {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-100 {
  width: 100%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-91 {
  width: 91%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-75 {
  width: 75%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-60 {
  width: 60%;
}
.skill-breakdown__field .skill-breakdown__value .value.val-50 {
  width: 50%;
}

.social {
  margin-bottom: 1.5em;
}
.social .fa {
  width: 25px;
}

.awards h3 {
  margin-bottom: 0;
}
.awards span {
  display: block;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}
.awards a {
  margin-top: 0;
  font-size: 0.9em;
}

.resume-note {
  font-size: 0.9em;
  color: #666666;
}

.portfolio .social__group,
.portfolio h2 {
  display: none;
}
.resume-print {
  position: fixed;
  right: 2em;
  Bottom: 1em;
  background-color: #000000;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  font-size: 3em;
  color: white;
  cursor: hand;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.resume-print:hover {
  color: white;
}
.resume-print:active, .resume-print:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.resume-print .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media print {
  body {
    width: 180mm;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
  }

  .full-resume {
    padding: 0;
    margin-bottom: 0;
    box-shadow: none;
    background-color: white;
  }

  .page-wrap .top-boxes,
.page-wrap .resizer {
    display: none;
  }

  .portfolio .social__group,
.portfolio h2 {
    display: block;
  }
  .portfolio a {
    font-size: 12px;
  }
  .portfolio .btn {
    display: none;
  }

  .skill-breakdown__value {
    -webkit-print-color-adjust: exact;
  }

  .resume-print {
    display: none;
  }
}
/** Chagne to CSS **/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}

a.btn {
  background: #0a0a0a;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #bdbcbc;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}


@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
* {
  Box-sizing: Border-box;
}



#menu {
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 500px;
  border-radius: 50%;
  position: fixed;
  left: 2em;
  Bottom: 1em;
  list-style: none;
  font-size: 500%;
  transition: width 500ms, height 500ms, margin 500ms;
  overflow: hidden;
}

#menu:target {
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
}

.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  background: #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 200px;
  border-radius: 50%;
  opacity: 0;
  z-index: 0;
}

.icon-plus:before, .icon-minus:before {
  color: rgb(17, 17, 17);
  position: relative;
  top: 40%;
  left: 42%;
  transition: opacity 500ms ease-in;
  text-decoration: none;
  z-index: 2;
}

#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

.menu-item-back {
  background: rgb(177, 160, 160);
  width: 175px;
  height: 150px;
  position: absolute;
  transform-origin: 0px 150px;
  margin-top: -150px;
  left: 50%;
  top: 100%;
  border: 1px solid whitesmoke;
}

.menu-item-back:hover {
  background: rgb(168, 18, 18);
}

.menu-item {
  position: absolute;
  text-decoration: none;
  top: 50%;
  left: 50%;
  display: none;
}

.menu-item:before {
  color: #fff;
  position: absolute;
  text-decoration: none;
  top: -12px;
  left: 30px;
  z-index: 1;
}

.menu-item:nth-child(3) {
  display: block;
}

.menu-item:nth-child(3) .menu-item-back {
  transform: rotate(-60deg) skew(-30deg);
}

.menu-item:nth-child(3):before {
  margin: -100px 0 0 -1.0341562342px;
}

.menu-item:nth-child(4) {
  display: block;
}

.menu-item:nth-child(4) .menu-item-back {
  transform: rotate(0deg) skew(-30deg);
}

.menu-item:nth-child(4):before {
  margin: -50px 0 0 86.6025403784px;
}

.menu-item:nth-child(5) {
  display: block;
}

.menu-item:nth-child(5) .menu-item-back {
  transform: rotate(60deg) skew(-30deg);
}

.menu-item:nth-child(5):before {
  margin: 50px 0 0 86.6025403784px;
}

/* Add on the table for css **/ 
/* -- import Roboto Font ---------------------------- */


/* -- You can use this tables in Bootstrap (v3) projects. -- */
/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* -- Demo style ------------------------------- */
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
html {
  position: relative;
  overflow-x: hidden;
  margin: 16px;
  padding: 0;
  min-height: 100%;
  font-size: 62.5%;
}
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #000000;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#demo {
  margin: 20px auto;
  max-width: 960px;
}
#demo h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
  margin-bottom: 1rem;
  text-align: center;
}
#demo h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-align: center;
}
.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
/* -- Material Design Table style -------------- */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
  background-color: #fff;
}
.table .no-border {
  border: 0;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0.8rem;
}
.table-bordered {
  border: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  .table-responsive-vertical > .table > tbody {
    display: block;
  }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }
  .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #fde0dc;
}
.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
  background-color: #f9bdbb;
}

/** Add more **/
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1582 {
  background-color: #2b2a29;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #c46721;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}