body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #111;
}

.img-container {
  display: flex;
}

.img-container img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.img-container img:not(:last-child) {
  margin-right: 15px;
}

/* The Magic ✨ */
/* .img-container:hover > :not(:hover) {
  opacity: 0.2;
}
 */
/* (alternative way to do the same effect👇) */
.img-container:hover img{
  opacity:0.2;
}
.img-container img:hover{
  opacity:1;
}
